@font-face
{
    font-family: "KeepCalm";
    src: url('../../Recursos/Fontes/KeepCalm.ttf');
}
@font-face
{
    font-family: "Elephant";
    src: url('../../Recursos/Fontes/Elephant.ttf');
}
@font-face
{
  font-family: "Aquamax";
  src: url('../../Recursos/Fontes/Aquamax.ttf');
}

body
{
    height: 100%;
    width: 100%;

    margin-right: auto;
    margin-left: auto;

    padding-right: 15px;
    padding-left: 15px;
}
nav
{
    height: 10% !important;

    padding: 0.75rem;

    margin: 0.88475rem !important;
    margin-top: 0 !important;
}
section
{
    height: 75% !important;
}


/* Classes */
.CorTextoBranco
{
    color: #f3f7f7;
}
.CorTextoPreto
{
    color: #111111;
}
.CorTextoCinza
{
    color: #999999;
}

.FontePrincipal
{
    font-family: "KeepCalm";
}
.FonteTitulo
{
    font-family: "Aquamax";
}
.FonteNavbar
{
  font-family: "Elephant";
}


/* IDs */

    /* Resolutions */

        /* vh 524- */
        @media (max-width: 799px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }

            /* Fotos */
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 65% !important;
            }
        }
        @media (min-width: 800px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 55% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.6705rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.4575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.7505rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.5075rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 70% !important;
            }
        }
        @media (min-width: 1152px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #TituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 50% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 75% !important;
            }
        }
        @media (min-width: 1280px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }

            #FotoSobreMim
            {
              width: 50% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 80% !important;
            }
        }
        @media (min-width: 1430px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: block;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #TituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 50% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 85% !important;
            }
        }
        @media (min-width: 1665px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: block;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 45% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 4rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.9575rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            #TituloPopupPong
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27.5% !important;
              height: 95% !important;
            }
        }

        /* vh 525 */
        @media (max-width: 799px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 20rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.50675rem;

              margin-top: -2.25rem !important;
              margin-bottom: 0.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.3075rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 52.5% !important;
            }
        }
        @media (min-width: 800px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.7575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.805rem;

              margin-top: -1.25rem !important;
              margin-bottom: 1.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.5575rem;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.6705rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.4575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.7505rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.5075rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 60% !important;
            }
        }
        @media (min-width: 1152px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 60% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.0775rem;

              margin-top: 0 !important;
              margin-bottom: 2rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 67.5% !important;
            }
        }
        @media (min-width: 1280px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 55% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.1275rem;

              margin-top: 0 !important;
              margin-bottom: 2.5rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8075rem;

              margin-top: 1.5rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 80% !important;
            }
        }
        @media (min-width: 1430px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.5025rem;
            }
            #SubtituloIndex
            {
              font-size: 0.9575rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 60% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 85% !important;
            }
        }
        @media (min-width: 1665px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.525rem;
            }
            #SubtituloIndex
            {
              font-size: 0.925rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 45% !important;
              margin-top: 0 !important;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 4rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.9575rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 95% !important;
            }
        }

        /* vh 720px */
        @media (max-width: 799px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
             }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 10rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.50675rem;

              margin-top: -2.25rem !important;
              margin-bottom: 0.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.3075rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 27% !important;
              height: 47.5% !important;
            }
        }
        @media (min-width: 800px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
             }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.805rem;

              margin-top: -1.25rem !important;
              margin-bottom: 1.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.5575rem;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.6705rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.4575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.7505rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.5075rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 55% !important;
            }
        }
        @media (min-width: 1152px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 60% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.0775rem;

              margin-top: 0 !important;
              margin-bottom: 2rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 60% !important;
            }
        }
        @media (min-width: 1280px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 55% !important;
              margin-top: 2.5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.1275rem;

              margin-top: 0 !important;
              margin-bottom: 2.5rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8075rem;

              margin-top: 1.5rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 65% !important;
            }
        }
        @media (min-width: 1430px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.5025rem;
            }
            #SubtituloIndex
            {
              font-size: 0.9575rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8075rem;
            }
            #FotoSobreMim
            {
              width: 60% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 70% !important;
            }
        }
        @media (min-width: 1665px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.525rem;
            }
            #SubtituloIndex
            {
              font-size: 0.925rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8775rem;
            }
            #FotoSobreMim
            {
              width: 55% !important;
              margin-top: 0 !important;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 4rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.9575rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 85% !important;
            }
        }

        /* vh 900px */
        @media (max-width: 799px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 5rem;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.50675rem;

              margin-top: -2.25rem !important;
              margin-bottom: 0.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.3075rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.5005rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.4505rem;

              margin-top: -2.5rem !important;
              margin-bottom: -10rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.1575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 35% !important;
            }

        }
        @media (min-width: 800px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 70% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 0.805rem;

              margin-top: -1.25rem !important;
              margin-bottom: 1.25rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.5575rem;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 0.6705rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.4575rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 0.7505rem;

              margin-top: -2.5rem !important;
              margin-bottom: -1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.5075rem;

              margin-top: 0 !important;
              margin-bottom: 0.35rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 40% !important;
            }
        }
        @media (min-width: 1152px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8775rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 65% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.0775rem;

              margin-top: 0 !important;
              margin-bottom: 2rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.0275rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.6775rem;

              margin-top: 0.5rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 45% !important;
            }
        }
        @media (min-width: 1280px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.4575rem;
            }
            #SubtituloIndex
            {
              font-size: 0.8765rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 72.5% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.1275rem;

              margin-top: 0 !important;
              margin-bottom: 2.5rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8075rem;

              margin-top: 1.5rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.1075rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7075rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 50% !important;
            }
        }
        @media (min-width: 1430px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.5025rem;
            }
            #SubtituloIndex
            {
              font-size: 0.9575rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.8575rem;
            }
            #FotoSobreMim
            {
              width: 60% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.2575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 3rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.8775rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.2575rem;

              margin-top: -1.5rem !important;
              margin-bottom: 1rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.7575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.25rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 55% !important;
            }
        }
        @media (min-width: 1665px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
            nav
            {
              display: -ms-flexbox !important;
              display: flex !important;
            }
            section
            {
              display: -ms-flexbox !important;
              display: flex !important;

              align-items: center;
            }

            #TituloIndex
            {
              font-size: 1.65625rem;
            }
            #SubtituloIndex
            {
              font-size: 1.0575rem;
            }
            #ParagrafoIndex
            {
              font-size: 0.9075rem;
            }
            #FotoSobreMim
            {
              width: 55% !important;
              margin-top: 0;
            }

            /* Modelagens.html */
            #TituloPopupRosquinha
            {
              font-size: 1.575rem;

              margin-top: 0.5rem !important;
              margin-bottom: 4rem !important;
            }
            #ParagrafoPopupRosquinha
            {
              font-size: 0.9575rem;

              margin-top: 2rem !important;
              margin-bottom: 1rem !important;
            }

            /* Jogos.html */
            #TituloPopupPong
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupPong
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            #TituloPopupGalaxyShootter
            {
              font-size: 1.575rem;

              margin-top: 0.25rem !important;
              margin-bottom: 1.5rem !important;
            }
            #ParagrafoPopupGalaxyShootter
            {
              font-size: 0.8575rem;

              margin-top: 1rem !important;
              margin-bottom: 0.5rem !important;
            }

            /* Projetos.html */
            .cat
            {
              width: 30% !important;
              height: 70% !important;
            }
        }

    .thumbnail-title
    {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 48.25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .thumbnail-subtitle
    {
        font-size: 15px;
        position: absolute;
        top: 56.5%;
        left: 48.25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .thumbnail-overflow
    {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      background-color: #111111;
    }
        .thumbnail-overflow:hover
        {
            opacity: 0.85;
        }

    /* Páginas */

        /* Navbar */
            #IconeBehance, #IconeArtstation, #IconeLinkedin, #IconeInstagram, #IconeGithub
            {
              opacity: 45%;
            }
            #IconeBehance:hover, #IconeArtstation:hover, #IconeLinkedin:hover, #IconeInstagram:hover, #IconeGithub:hover
            {
                opacity: 75%;
            }
            #IconeArtstation
            {
                width: 1.85rem;
                height: 1.35rem;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;
              }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                margin-right: auto !important;
            }
