@-webkit-keyframes FadeIn
{
    0% {opacity: 0;}
}
@-moz-keyframes FadeIn
{
    0% {opacity: 0;}
}
@-o-keyframes FadeIn
{
    0% {opacity: 0;}
}
@keyframes FadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1}
}

@font-face
{
    font-family: "KeepCalm";
    src: url('../../_Recursos/Fontes/KeepCalm.ttf');
}
@font-face
{
    font-family: "Elephant";
    src: url('../../_Recursos/Fontes/Elephant.ttf');
}
@font-face
{
  font-family: "Aquamax";
  src: url('../../_Recursos/Fontes/Aquamax.ttf');
}

body
{
    height: 100%;
    width: 100%;

    margin-right: auto;
    margin-left: auto;

    padding-right: 15px;
    padding-left: 15px;
}
nav
{
    height: 10% !important;

    padding: 0.75rem;

    margin: 0.88475rem !important;
    margin-top: 0 !important;
}
section
{
    height: 75% !important;
}


  /* Classes */

    .Box
    {
        display: flex;
        flex-flow: column;
        height: 75%;
    }

    /* Cores */
    .CorFundoBranco
    {
        background-color: #f3f7f7;
    }
    .CorFundoPreto
    {
        background-color: #111111;
    }
    .corFundoCinza
    {
        background-color: #999999;
    }


    .CorTextoBranco
    {
        color: #f3f7f7;
    }
    .CorTextoPreto
    {
        color: #111111;
    }
    .CorTextoCinza
    {
        color: #999999;
    }


    /* Fontes */
    .FontePrincipal
    {
        font-family: "KeepCalm";
    }

    .FonteTitulo
    {
        font-family: "Aquamax";
    }

    .FonteNavbar
    {
      font-family: "Elephant";
    }


/* IDs */

    /* Resolutions */

        /* vh 524- */
        @media (max-width: 799px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 87.5%;
                    margin: auto;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 175px;
                    background-color: gray;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.225rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.705rem;
                }
        }
        @media (min-width: 800px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }
                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 28.5rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 55% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 250px;
                    background-color: darkgreen;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.25rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.725rem;
                }
        }
        @media (min-width: 1152px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }
                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #TituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 25rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 50% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 300px;
                    background-color: salmon;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.35rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.775rem;
                }
        }
        @media (min-width: 1280px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }
                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 21.5rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 50% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 350px;
                    background-color: goldenrod;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.65rem;
                }
                #SubtituloPaginasDeFotos
                {
                     font-size: 0.85rem;
                }
        }
        @media (min-width: 1430px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: block;
                }
                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #TituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 18.5rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 50% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 400px;
                    background-color: olive;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.75rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.905rem;
                }
        }
        @media (min-width: 1665px) and (max-height: 524px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: block;
                }
                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 15rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 45% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 450px;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 2rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 1rem;
                }
        }


        /* vh 525 */
        @media (max-width: 799px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 87.5%;
                    margin: auto;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 20rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 175px;
                    background-color: purple;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.225rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.705rem;
                }
        }
        @media (min-width: 800px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.7575rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 82.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 275px;
                    background-color: pink;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.25rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.725rem;
                }
        }
        @media (min-width: 1152px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 60% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 315px;
                    background-color: yellow;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.35rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.775rem;
                }
        }
        @media (min-width: 1280px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 55% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 350px;
                    background-color: blue;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.65rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.85rem;
                }
        }
        @media (min-width: 1430px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.5025rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.9575rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: -1.5rem;
                }
                #TextoDescricao
                {
                    width: 84.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 60% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 415px;
                    background-color: green;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.75rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.905rem;
                }
        }
        @media (min-width: 1665px) and (min-height: 525px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.525rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.925rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: -2.5rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 45% !important;
                    margin-top: 0 !important;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 475px;
                    background-color: red;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 2rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 1rem;
                }
        }


        /* vh 720px */
        @media (max-width: 799px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 87.5%;
                    margin: auto;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 10rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 175px;
                    background-color: darkgreen;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.225rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.705rem;
                }
        }
        @media (min-width: 800px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 82.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 250px;
                    background-color: gray;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.25rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 0.725rem;
                }
        }
        @media (min-width: 1152px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 60% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 325px;
                    background-color: salmon;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.35rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.775rem;
                }
        }
        @media (min-width: 1280px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 55% !important;
                    margin-top: 2.5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 350px;
                    background-color: olive;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.65rem;
                }
                #SubtituloPaginasDeFotos
                {
                     font-size: 0.85rem;
                }
        }
        @media (min-width: 1430px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.5025rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.9575rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 84.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 60% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 450px;
                    background-color: goldenrod;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.75rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.905rem;
                }
        }
        @media (min-width: 1665px) and (min-height: 720px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.525rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.925rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8775rem;
                    margin-top: -2.5rem;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 55% !important;
                    margin-top: 0 !important;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 500px;
                    background-color: brown;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 2rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 1rem;
                }
        }


        /* vh 900px */
        @media (max-width: 799px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 87.5%;
                    margin: auto;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 5rem;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 175px;
                    background-color: purple;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.225rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.705rem;
                }
        }
        @media (min-width: 800px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 82.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 70% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 250px;
                    background-color: pink;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.25rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 0.725rem;
                }
        }
        @media (min-width: 1152px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8775rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8575rem;
                    margin-top: -2.5rem;

                }
                #TextoDescricao
                {
                    width: 82.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 65% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 325px;
                    background-color: yellow;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.35rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 0.775rem;
                }
        }
        @media (min-width: 1280px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.4575rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.8765rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.7975rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 86.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 72.5% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 350px;
                    background-color: blue;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.65rem;
                }
                #SubtituloPaginasDeFotos
                {
                    font-size: 0.85rem;
                }
        }
        @media (min-width: 1430px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.5025rem;
                }
                #SubtituloIndex
                {
                    font-size: 0.9575rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.8075rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 84.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 60% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 450px;
                    background-color: green;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 1.75rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 0.905rem;
                }
        }
        @media (min-width: 1665px) and (min-height: 900px) /* Feito */
        {
            /* index.html */
                nav
                {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }
                section
                {
                    display: -ms-flexbox !important;
                    display: flex !important;

                    align-items: center;
                }

                #TituloIndex
                {
                    font-size: 1.65625rem;
                }
                #SubtituloIndex
                {
                    font-size: 1.0575rem;
                }
                #ParagrafosDeTexto
                {
                    font-size: 0.9075rem;
                    margin-top: 0;
                }
                #TextoDescricao
                {
                    width: 78.5%;
                }

                /* Fotos */
                #FotoSobreMim
                {
                    width: 55% !important;
                    margin-top: 0;
                }

            /* Fotos.html */
                #thumbnail .Imagem
                {
                    height: 500px;
                    background-color: red;
                }

            /* AfricaDoSul2019.html e Argentina2014.html */
                #TituloPaginasDeFotos
                {
                    font-size: 2rem;
                }
                #SubtituloPaginasDeFotos
                {
                  font-size: 1rem;
                }

        }


    /* @media (min-width: 1280px) and (min-height: 1024px)
    {
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #TituloIndex
            {
                font-size: 1.656295rem;
            }
            #SubtituloIndex
            {
                font-size: 1.07205rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1025rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            #FotoSobreMim
            {
                width: 65% !important;
            }
    }
    @media (min-width: 1440px) and (min-height: 1050px)
    {
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #TituloIndex
            {
                font-size: 12.895rem;
            }
            #SubtituloIndex
            {
                font-size: 1.081175rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1225rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            #FotoSobreMim
            {
                width: 70% !important;
            }
    }
    @media (min-width: 1440px) and (min-height: 1080px)
    {
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #TituloIndex
            {
                font-size: 1.72375rem;
            }
            #SubtituloIndex
            {
                font-size: 1.081175rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1225rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            #FotoSobreMim
            {
                width: 70% !important;
            }
    }
    @media (min-width: 1776px) and (min-height: 1000px)
    {
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #TituloIndex
            {
                font-size: 1.75375rem;
            }
            #SubtituloIndex
            {
                font-size: 1.09135rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1675rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            #FotoSobreMim
            {
                width: 60% !important;
            }
    }
    @media (min-width: 1920px) and (min-height: 1080px)
    {
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #TituloIndex
            {
                font-size: 1.895rem;
            }
            #SubtituloIndex
            {
                font-size: 1.15rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.2075rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            #FotoSobreMim
            {
                width: 60% !important;
            }
    } */


    #AreaDeConteudo
    {
        height: 100vh;
    }

    .DebugBorder
    {
        background-color:  red;
    }

    .DebugBorder2
    {
        background-color: blue;
    }

    .DebugBorder3
    {
        background-color: green;
    }


    /* Páginas */

        /* Navbar */

            #LinkSobreMim, #LinkFotos, #LinkProjetos
            {
                font-size: 1.0575rem;

                margin: 0.2605rem !important;
                padding-left: 0.05rem !important;
                padding-right: 0.05rem !important;
            }

            #LinkProjetos
            {
                margin-right: auto !important;
            }

            #IconeBehance, #IconeArtstation, #IconeLinkedin, #IconeInstagram, #IconeGithub
            {
                opacity: 45%;

                margin: 0.2605rem !important;
                margin-right: .5rem !important;

                padding-top: 0.15rem !important;
                padding-bottom: 0.005rem !important;
                padding-left: 0.25rem !important;
                padding-right: 0.25rem !important;
            }
            #IconeBehance:hover, #IconeArtstation:hover, #IconeLinkedin:hover, #IconeInstagram:hover, #IconeGithub:hover
            {
                opacity: 75%;
            }

            #IconeArtstation
            {
                width: 1.85rem;
                height: 1.35rem;
            }

            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;
              }

            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;
            }

            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                margin-right: auto !important;
            }

        /* index.html */

            #FotoSobreMim
            {
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                -webkit-animation: FadeIn ease 1.65s;
                -moz-animation: FadeIn ease 1.65s;
                -o-animation: FadeIn ease 1.65s;

                animation: FadeIn ease 1.65s;

                border-radius: 0.25rem !important;
            }
            #TituloIndex
            {
                text-align: justify;
                width: 100%;

                margin-left: 0.5rem;
                margin-right: 0.5rem;
                padding: 0.25rem;

                margin-bottom: 0;
                padding-bottom: 0;
            }
            #SubtituloIndex
            {
              text-align: justify;
              width: 100%;

              margin-left: 0.5rem;
              margin-right: 0.5rem;
              padding: 0.25rem;

              margin-top: 0;
              padding-top: 0;
            }
            #ParagrafosDeTexto
            {
                text-align: justify;

                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;

                padding: 0.25rem;

            }
            #TextoDescricao
            {
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                -webkit-animation: FadeIn ease 1.65s 1.85s;
                -moz-animation: FadeIn ease 1.65s 1.85s;
                -o-animation: FadeIn ease 1.65s 1.85s;

                animation: FadeIn ease 1.65s 1.85s;
                animation-fill-mode: forwards;

                -ms-flex-pack: center !important;

                justify-content: center !important;
                align-items: center !important;

                opacity: 0;

                margin-top: 3rem !important;
            }
            #SectionBranca
            {
                height: 82.5%;
            }
            #SectionPreta
            {
                height: 72.25%;
            }

        /* projetos.html */

            .CategoriaAtiva
            {
                background-color: #f3f7f7;

                width: 30% !important;
                height: 70% !important;

                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                -webkit-animation: FadeIn ease 4.5s;
                -moz-animation: FadeIn ease 4.5s;
                -o-animation: FadeIn ease 4.5s;

                animation: FadeIn ease 4.5s;
                border-radius: 5px;
            }
            .CategoriaInativa
            {
                background-color: #f3f7f7;

                width: 30% !important;
                height: 70% !important;

                opacity: 3.5%;

                border-radius: 5px;
            }

        /* fotos.html */
            #FotoDeApresentacao
            {
                border-radius: round;
                display: block;

                width: 100%;
                height: 100%;
            }

            #thumbnail
            {
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                -webkit-animation: FadeIn ease 1.65s;
                -moz-animation: FadeIn ease 1.65s;
                -o-animation: FadeIn ease 1.65s;

                animation: FadeIn ease 5.65s;

                padding-left: 0.1rem;
                padding-right: 0.1rem;

                margin: 0.25rem;

                width: 50%;
                max-width: 600px;

            }

            #thumbnail .Titulo
            {
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 48.25%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

            #thumbnail .Subtitulo
            {
                font-size: 15px;
                position: absolute;
                top: 55%;
                left: 48.25%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

            .Sobreposicao
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #111111;
            }
            #thumbnail:hover .Sobreposicao
            {
                opacity: 0.85;
            }

        /* AfricaDoSul2019.html e Argentina2014.html */
            #TituloPaginasDeFotos
            {
                margin: 0.25rem;

                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            #SubtituloPaginasDeFotos
            {
                margin: 0.25rem;
            }
