@-webkit-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@-moz-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@-o-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@keyframes FadeIn 
{
    0% {opacity: 0;}
}

@font-face
{
    font-family: "Almelo";
    src: url('../../Resources/Fonts/Almelo.ttf');
}
@font-face
{
    font-family: "TimeAndSpace";
    src: url('../../Resources/Fonts/TimeAndSpace.ttf');
}

body
{
    height: 100%;
    width: 100%;

    margin-right: auto;
    margin-left: auto;

    padding-right: 15px;
    padding-left: 15px;

    background-color: #f3f7f7;
}


/* Classes */

    /* Animações */
    .FadeIn
    {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation: FadeIn ease .8s;
        -moz-animation: FadeIn ease .8s;
        -o-animation: FadeIn ease .8s;

        animation: FadeIn ease .8s;
    }

    .Box
    {
        display: flex;
        flex-flow: column;
        height: 75%;
    }

    /* Cores */
    .CorFundoBranco
    {
        background-color: #f3f7f7;
    }
    .CorFundoPreto
    {
        background-color: #111111;
    }
    .corFundoCinza
    {
        background-color: #999999;
    }


    .CorTextoBranco
    {
        color: #f3f7f7;
    }
    .CorTextoPreto
    {
        color: #111111;
    }
    .CorTextoCinza
    {
        color: #999999;
    }


    /* Fontes */
    .FontePrincipal
    {
        font-family: "TimeAndSpace";
    }


/* IDs */

    /* Resolutions */
    @media (max-height: 719px)
    {
        /* index.html */
        section
        {
            display: block;
        }

        #Titulo
        {
            font-size: 1.5575rem;
        }
        #Subtitulo
        {
            font-size: 0.9815rem;
        }
        #ParagrafosDeTexto
        {
            font-size: 1.0715rem;
        }
        #TextoDescricao
        {
            width: 87.5%;
            margin: auto;
        }

        /* Icones de Mídias Sociais */
        #IconeBehance
        {
            width: 2.15rem;
            height: 1.75rem;

            opacity: 45%;
        }
        #IconeLinkedin
        {
            width: 1.80rem;
            height: 1.30rem;

            opacity: 45%;
        }
        #IconeInstagram
        {
            width: 1.75rem;
            height: 1.35rem;

            opacity: 45%;
        }
        #IconeGithub
        {
            width: 2rem;
            height: 1.5rem;

            opacity: 45%;
        }
        #IconeEmail
        {
            width: 2rem;
            height: 1.05rem;

            opacity: 45%;
        }

        /* Fotos */
        #FotoSobreMim
        {
            width: 40% !important;

            display: block;
            margin: auto;
        }
    }
    @media (min-width: 800px) and (min-height: 600px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.5875rem;
            }
            #Subtitulo
            {
                font-size: 0.98925rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0915rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 55% !important;
            }
    }
    @media (min-width: 960px) and (min-height: 720px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.4875rem;
            }
            #Subtitulo
            {
                font-size: 0.98625rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0625rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 75% !important;
            }
    }
    @media (min-width: 1152px) and (min-height: 720px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.5575rem;
            }
            #Subtitulo
            {
                font-size: 0.96925rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0715rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 75% !important;
            }
    }
    @media (min-width: 1280px) and (min-height: 720px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.5875rem;
            }
            #Subtitulo
            {
                font-size: 0.98925rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0915rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 45% !important;
            }
    }
    @media (min-width: 1280px) and (min-height: 768px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.5875rem;
            }
            #Subtitulo
            {
                font-size: 0.98925rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0915rem;
            }
            #TextoDescricao
            {
                width: 87.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 45% !important;

                /* margin-top: 0.65rem; */
            }
    }
    @media (min-width: 1024px) and (min-height: 1024px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.5075rem;
            }
            #Subtitulo
            {
                font-size: 0.99625rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0835rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 67.5% !important;
            }
    }
    @media (min-width: 1280px) and (min-height: 854px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.59575rem;
            }
            #Subtitulo
            {
                font-size: 1.028025rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1175rem;
            }
            #TextoDescricao
            {
                width: 87.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 50% !important;

                /* margin-top: 0.795rem */
            }
    }
    @media (min-width: 1280px) and (min-height: 960px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.6375rem;
            }
            #Subtitulo
            {
                font-size: 1.0465rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.0875rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 70% !important;
            }
    }
    @media (min-width: 1440px) and (min-height: 900px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.65625rem;
            }
            #Subtitulo
            {
                font-size: 1.0675rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1375rem;
            }
            #TextoDescricao
            {
                width: 87.5%;

                margin-top: 5.35rem;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 55% !important;

                /* margin-top: 0.875rem; */
            }
    }
    @media (min-width: 1280px) and (min-height: 1024px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.656295rem;
            }
            #Subtitulo
            {
                font-size: 1.07205rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1025rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 65% !important;
            }
    }
    @media (min-width: 1440px) and (min-height: 1050px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.895rem;
            }
            #Subtitulo
            {
                font-size: 1.081175rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1225rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 1.5rem;
                height: 1.85rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.20rem;
                height: 1.20rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.25rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 1.25rem;
                height: 1.25rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 1.35rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 70% !important;
            }
    }
    @media (min-width: 1440px) and (min-height: 1080px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.72375rem;
            }
            #Subtitulo
            {
                font-size: 1.081175rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1225rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 70% !important;
            }
    }
    @media (min-width: 1776px) and (min-height: 1000px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.75375rem;
            }
            #Subtitulo
            {
                font-size: 1.09135rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.1675rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 60% !important;
            }
    }
    @media (min-width: 1920px) and (min-height: 1080px)
    {
        /* index.html */
            nav
            {
                display: -ms-flexbox !important;
                display: flex !important;
            }
            section
            {
                display: -ms-flexbox !important;
                display: flex !important;

                align-items: center;
            }

            #Titulo
            {
                font-size: 1.895rem;
            }
            #Subtitulo
            {
                font-size: 1.15rem;
            }
            #ParagrafosDeTexto
            {
                font-size: 1.2075rem;
            }
            #TextoDescricao
            {
                width: 82.5%;
            }

            /* Icones de Mídias Sociais */
            #IconeBehance
            {
                width: 2.15rem;
                height: 1.75rem;

                opacity: 45%;
            }
            #IconeLinkedin
            {
                width: 1.80rem;
                height: 1.30rem;

                opacity: 45%;
            }
            #IconeInstagram
            {
                width: 1.75rem;
                height: 1.35rem;

                opacity: 45%;
            }
            #IconeGithub
            {
                width: 2rem;
                height: 1.5rem;

                opacity: 45%;
            }
            #IconeEmail
            {
                width: 2rem;
                height: 1.05rem;

                opacity: 45%;
            }

            /* Fotos */
            #FotoSobreMim
            {
                width: 60% !important;

                /* margin-top: 1.5rem; */
            }
    }

    #AreaDeConteudo
    {
        height: 100vh;
    }

    .DebugBorder
    {
        background-color:  red;
    }

    .DebugBorder2
    {
        background-color: blue;
    }

    .DebugBorder3
    {
        background-color: green;
    }


    /* Páginas */

        /* Navbar */

            /* Links */
                #LinkSobreMim
                {
                    font-size: 18.5px;

                    margin: 0.3rem !important;
                    padding-left: 0.5rem !important;
                    padding-right: 0.5rem !important;
                }

                #LinkFotos
                {
                    font-size: 18.5px;

                    margin: 0.3rem !important;
                    padding-left: 0.5rem !important;
                    padding-right: 0.55rem !important;
                }

                #LinkJogos
                {
                    font-size: 18.5px;

                    margin: 0.3rem !important;
                    padding-left: 0.5rem !important;
                    padding-right: 0.5rem !important;
                }

            /* Hovers de Ícones de Mídias Sociais */
                #IconeBehance
                {
                    margin-left: 0.25rem;
                    margin-right: 0.125rem;
                    margin-top: 0.05rem;
                    margin-bottom: 0.25rem;

                    padding-left: 0.25rem !important;
                    padding-right: 0.25rem !important;
                }
                #IconeBehance:hover
                {
                    opacity: 75%;
                }

                #IconeLinkedin
                {
                    margin-left: 0.125rem;
                    margin-right: 0.125rem;
                    margin-top: 0.20rem;
                    margin-bottom: 0.25rem;

                    padding-left: 0.25rem !important;
                    padding-right: 0.25rem !important;
                }
                #IconeLinkedin:hover
                {
                    opacity: 75%;
                }

                #IconeInstagram
                {
                    margin-left: 0.125rem;
                    margin-right: 0.125rem;
                    margin-top: 0.3rem;
                    margin-bottom: 0.25rem;

                    padding-left: 0.25rem !important;
                    padding-right: 0.25rem !important;
                }
                #IconeInstagram:hover
                {
                    opacity: 75%;
                }

                #IconeGithub
                {
                    margin-left: 0.125rem;
                    margin-right: 0.125rem;
                    margin-top: 0.15rem;
                    margin-bottom: 0.25rem;

                    padding-left: 0.25rem !important;
                    padding-right: 0.25rem !important;
                }
                #IconeGithub:hover
                {
                    opacity: 75%;
                }

                #IconeEmail
                {
                    margin-left: 0.125rem;
                    margin-right: 0.25rem;
                    margin-top: 0.425rem;
                    margin-bottom: 0.25rem;

                    padding-left: 0.25rem !important;
                    padding-right: 0.5rem !important;
                }
                #IconeEmail:hover
                {
                    opacity: 75%;
                }



        /* index.html */
            #Titulo
            {
                width: 100%;

                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0rem;
                margin-bottom: 0rem;

                padding-left: 0.25rem;
                padding-right: 0.25rem;
                padding-top: 0.25rem;
                padding-bottom: 0rem;
            }
            #Subtitulo
            {
                width: 100%;

                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0rem;
                margin-bottom: 0rem;

                padding-left: 0.25rem;
                padding-right: 0.25rem;
                padding-top: 0rem;
                padding-bottom: 0.25rem;
            }
            #ParagrafosDeTexto
            {
                text-align: justify;

                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;

                padding: 0.25rem;
            }
            #TextoDescricao
            {
                -ms-flex-pack: center !important;

                justify-content: center !important;
                align-items: center !important;
            }
            #SectionBranca
            {
                height: 82.5%;
            }
            #SectionPreta
            {
                height: 72.25%;
            }


        /* fotos.html */
            #FotoDeApresentacao
            {
                height: 325px;
            }

            #thumbnail
            {  
                position: relative;
                width: 100%;

                padding-left: 0.1rem;
                padding-right: 0.1rem;
            }

            #thumbnail .Imagem
            {  
                display: block;
                height: 500px;
                width: 100%;
            }

            #thumbnail .Titulo 
            {
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 48.25%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

            #thumbnail .Subtitulo 
            {
                font-size: 15px;
                position: absolute;
                top: 55%;
                left: 48.25%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

            .Sobreposicao 
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #111111;
            }

            #thumbnail:hover .Sobreposicao 
            {
                opacity: 0.85;
            }