@-webkit-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@-moz-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@-o-keyframes FadeIn 
{
    0% {opacity: 0;}
}
@keyframes FadeIn 
{
    0% {opacity: 0;}
}

@font-face
{
    font-family: "Almelo";
    src: url('../../Resources/Fonts/Almelo.ttf');
}
@font-face
{
    font-family: "TimeAndSpace";
    src: url('../../Resources/Fonts/TimeAndSpace.ttf');
}

section
{
    height: 87.5%;
}


/* Classes */

    /* Animações */
    .FadeIn
    {   -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation: FadeIn ease .8s;
        -moz-animation: FadeIn ease .8s;
        -o-animation: FadeIn ease .8s;

        animation: FadeIn ease .8s;
    }

    /* Cores */
    .CorFundoBranco
    {
        background-color: #f3f7f7;
    }
    .CorFundoPreto
    {
        background-color: #111111;
    }
    .corFundoCinza
    {
        background-color: #999999;
    }


    .CorTextoBranco
    {
        color: #f3f7f7;
    }
    .CorTextoPreto
    {
        color: #111111;
    }
    .CorTextoCinza
    {
        color: #999999;
    }


    /* Debugging */
    .DebugVermelho
    {
        border-style: solid;
        border-width: thin;
        border-color: red;
    }
    .DebugPreto
    {
        border-style: solid;
        border-width: thin;
        border-color: #111111;
    }
    .DebugBranco
    {
        border-style: solid;
        border-width: thin;
        border-color: #f3f7f7;
    }


    .FontePrincipal
    {
        font-family: "TimeAndSpace";
    }


/* IDs */

    #AreaDeConteudo
    {
        height: 100vh;
    }

    #NavbarCustomItem
    {
        font-size: 15px;
    }


    /* Icones de Mídias Sociais */
    #IconeBehance
    {
        width: 22px;
        height: 22px;
    }
    #IconeLikedin
    {
        width: 17.5px;
        height: 17.5px;
    }
    #IconeInstagram
    {
        width: 18px;
        height: 18px;
    }
    #IconeGithub
    {
        width: 18px;
        height: 18px;
    }
    #IconeEmail
    {
        width: 19px;
        height: 14px;
    }

    /* Fotos */
    #FotoDeApresentacao
    {
        height: 325px;
    }

    #thumbnail
    {  
        position: relative;
        width: 100%;

        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    #thumbnail .Imagem
    {  
        display: block;
        height: 500px;
        width: 100%;
    }

    #thumbnail .Titulo 
    {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 48.25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #thumbnail .Subtitulo 
    {
        font-size: 15px;
        position: absolute;
        top: 55%;
        left: 48.25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .Sobreposicao 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #111111;
    }

    #thumbnail:hover .Sobreposicao 
    {
            opacity: 0.85;
    }