%html

    %head

        / Meta Tags
        %meta{:charset => "UTF-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %meta{:name => "theme-color", :content => "#000000"}
        %meta{:name => "description", :content => "Portfolio do Lucas Martin"}

        / Link Tags
        %link{:rel => "stylesheet", :type => "text/css", :href => "_Codigos/CSS/style.css"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "_Codigos/CSS/bootstrap.css"}
        %link{:rel => "icon", :href => "_Recursos/Imagens/favicon.ico"}


        %title Argentina 2014

    %body.row.m-0.p-0{:style => "background-color: #111"}

        .col-12.m-0.p-0#AreaDeConteudo

            %nav.row.navbar.navbar-dark

                .col-6
                    .flex-row.justify-content-start.w-100.navbar-nav
                        %a.nav-item.nav-link.FonteNavbar#LinkSobreMim{:href => "../index.html"} SOBRE MIM
                        %a.nav-item.nav-link.FonteNavbar#LinkProjetos{:href => "Projetos.html"} PROJETOS

                .col-6
                    .flex-row.justify-content-end.w-100.navbar-nav
                        %a.nav-item.nav-link{:href => "https://www.linkedin.com/in/lucas--martin/", :target => "_blank"}
                            %img#IconeLinkedin{:src => "_Recursos/Imagens/Linkedin.png"}

                        %a.nav-item.nav-link{:href => "https://www.instagram.com/lucasmmg1", :target => "_blank"}
                            %img#IconeInstagram{:src => "_Recursos/Imagens/Instagram.png"}

                        %a.nav-item.nav-link{:href => "https://www.artstation.com/lucasmmg1", :target => "_blank"}
                            %img#IconeArtstation{:src => "_Recursos/Imagens/Artstation.png"}

                        %a.nav-item.nav-link{:href => "https://github.com/LucasGagliano", :target => "_blank"}
                            %img#IconeGithub{:src => "_Recursos/Imagens/Github.png"}

            %section.row.m-0.p-0

                .col-12

                    %h2.row.justify-content-center.FontePrincipal.CorTextoBranco#TituloPaginasDeFotos Argentina
                    %h6.row.justify-content-center.FontePrincipal.CorTextoCinza#SubtituloPaginasDeFotos Ushuaia - Calafate
                    %h6.row.justify-content-center.FontePrincipal.CorTextoCinza#SubtituloPaginasDeFotos Março de 2014

                    .row.h-50.justify-content-center

                        %img.col-3.h-85.ml-2.mt-5.mr-1.mb-1.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina2.png"}
                        %img.col-2.h-85.ml-1.mt-5.mr-1.mb-1.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina3.png"}
                        %img.col-2.h-85.ml-1.mt-5.mr-1.mb-1.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina4.png"}
                        %img.col-2.h-85.ml-1.mt-5.mr-4.mb-1.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina5.png"}

                    .row.h-50.justify-content-center

                        %img.col-2.h-85.ml-2.mt-1.mr-1.mb-2.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina6.png"}
                        %img.col-2.h-85.ml-1.mt-1.mr-1.mb-2.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina7.png"}
                        %img.col-2.h-85.ml-1.mt-1.mr-1.mb-2.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina8.png"}
                        %img.col-3.h-85.ml-1.mt-1.mr-4.mb-2.p-0.justify-content-start#FotoDeApresentacao{:src =>  "_Recursos/Imagens/Argentina2014/FotoArgentina9.png"}
